$blackColor:rgb(24,24,24);
$whiteClor:rgb(235,235,235);
$redColor:rgb(175,2,2);
$baseColor:#FFB6C1;

// Container

.container{
    width:1000px;
max-width:100%;
padding:0px 20px;
margin:0 auto;
}

// layout

// Fonts

$titleFont:Arial,Helvetica,sans-serif;
$bodyFont:"Times New Roman",Times,serif;

// Buttons

@mixin buttonStyle($color,$fontsize,$bg){
    border-radius: 50px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-size: $fontsize;
  font-weight: 700;
  padding: 15px 60px;
  background-color:$bg;
  color:$color;

  &:hover {
    opacity: 0.9;
    transform: scale(0.98);
  }
}