@import '../../styles/style.scss';


.mainpage{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1{
        color: $redColor;
    }
    button{
       @include buttonStyle($redColor,20px);
    }
}
